* text=auto

*.css text eol=lf
*.go text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
.dockerignore text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.gitleaksignore text eol=lf
Makefile text eol=lf

*.sh text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Caddyfile text eol=lf
*.ps1 text eol=crlf
